<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Camerata Developments">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Camerata Developments</title>
    <meta name="description" content="player stats">
    <!-- favicon goes here -->
    <!-- <link rel="icon" type="" href=""> -->
    <!--add stylesheets here-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='./css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/tables.css') }}">
</head>

<body style="background-color:black">
<!--navbar template, change routing to pages-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-nav" style="background-color:black">
    <a class="navbar-brand mr-auto" href="/">Camerata Developments&nbsp;&nbsp;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="/">&nbsp;Home&nbsp; <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/game">&nbsp;Game&nbsp;</a>
            </li>
            <li>
                <a class="nav-link" href="/register">&nbsp;Register&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">&nbsp;Stats&nbsp;</a>
            </li>
        </ul>
        {% if session.username %}
        <div class="d-flex justify-content-between">
            <a class="text-light"><b>{{ session.username }}</b>&nbsp;&nbsp;</a>
            <form method="post" action="{{ url_for('logout') }}">
                <button type="submit" class="nav-link btn btn-primary text-light">Logout</button>
            </form>
        </div>
        {% else %}
        <a class="nav-link btn btn-primary text-light" href="/login">Login</a>
        {% endif %}
    </div>
</nav>

<!--Player Stats-->
<div class="jumbotron py-2 p-md-5 text-white rounded" style="background-color:black">
    <div class="col-md-6 pt-3 px-0">
        <h1 class="display-4 font-italic"> <b>Player Stats</b> </h1>
        <br>
        <table class="tstyle" cellpadding="5" cellspacing="5">
            {{ stats_string | safe}}
        </table>
    </div>
</div>
<!--History table-->
<section id="cards" class="container pb-2">
    <div class="d-flex my-3">
        <div class="jumbotron w-100 py-5 mx-auto text-light border-light bg-dark-gray">
            <h1>Match History</h1>
            <br>
            {% if session.htable %}

                <table class="tstyle" cellpadding="5" cellspacing="5">
                        {{ hist_string | safe}}
                </table>
            {% else %}
            <div class="d-flex justify-content-between">
                <b>No Match Information Retrieved</b>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- footer stuff -->
<footer class="footer bg-light text-center text-dark bottom">
    <div class="container py-3 mb-2">
        <div class="text-center">
            &copy; 2023 Copyright:
            <a class="text-dark" href="https://github.com/kjt18/CamerataDevUntitledGame"
               alt="Camerata Developement's repository">Camerata Developments</a>
            <br>
            <a class="text-dark" href="https://flask.palletsprojects.com/en/2.2.x/" alt="Flask Documentation">&nbsp;Flask</a>
            <a class="text-dark" href="https://bootstrap-flask.readthedocs.io/en/stable/"
               alt="Bootstrap-Flask Documentation">&nbsp;Bootstrap Flask</a>
            <a class="text-dark" href="https://bootstrap.themes.guide/darkster/"
               alt="Darkster Theme template documentation">&nbsp;Theme Template</a>
            <a class="text-dark" href="https://socket.io/docs/v4/" alt="socketIO documentation">&nbsp;socketIO</a>
            | add more used resources here
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>
<script>
    window.addEventListener('scroll', function() {
        var modal = document.getElementById('myModal');
        var modalTop = modal.getBoundingClientRect().top;
        var windowHeight = window.innerHeight;
        if (modalTop < windowHeight) {
            // Add class to show modal
            modal.classList.add('fade-in');
        } else {
            // Remove class to hide modal
            modal.classList.remove('fade-in');
        }
    });
</script>
</body>
</html>